<template>
  <full-calendar
    ref="fullCalendar"
    default-view="timeGridWeek"
    :header="calendarHeader"
    :plugins="calendarPlugins"
    :all-day-slot="false"
    :events="events"
    :editable="true"
    @dateClick="handleDateClick"
    @eventClick="handleEventClick"
    @eventDrop="handleEventDrop"
    @eventResize="handleEventResize"
  />
</template>

<script>
import FullCalendar from '@fullcalendar/vue'
import DayGridPlugin from '@fullcalendar/daygrid'
import TimeGridPlugin from '@fullcalendar/timegrid'
import InteracionPlugin from '@fullcalendar/interaction'

export default {
  components: {
    FullCalendar
  },
  props: {
    events: {
      type: Array,
      required: true
    },
    currentDate: {
      type: Date,
      default: new Date(),
      required: false
    }
  },
  data() {
    return {
      calendarPlugins: [DayGridPlugin, TimeGridPlugin, InteracionPlugin],
      calendarHeader: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay'
      }
    }
  },
  watch: {
    currentDate: function (newDate, oldDate) {
      this.gotoDate(newDate)
    }
  },
  methods: {
    handleDateClick(arg) {
      this.$emit('handle-date-click', arg)
    },
    handleEventClick(arg) {
      this.$emit('handle-event-click', arg)
    },
    handleEventDrop(arg) {
      this.$emit('handle-event-drop', arg)
    },
    handleEventResize(arg) {
      this.$emit('handle-event-resize', arg)
    },
    gotoDate(newDate) {
      const calendarApi = this.$refs.fullCalendar.getApi()

      calendarApi.gotoDate(newDate)
    }
  }
}
</script>

<style lang="sass">
@import '@fullcalendar/core/main.css'
@import '@fullcalendar/daygrid/main.css'
@import '@fullcalendar/timegrid/main.css'
</style>
