<template>
  <b-form @submit.prevent="onSubmit">
    <b-form-group
      label="Add a title:"
      label-for="input-1"
    >
      <b-form-input
        id="input-1"
        v-model="title"
        type="text"
        required
        placeholder="Add a title"
      />
    </b-form-group>

    <b-form-group
      label="Date:"
      label-for="input-2"
    >
      <datepicker
        v-model="startDate"
        name="uniquename"
        :bootstrap-styling="true"
      />
    </b-form-group>

    <b-row>
      <b-col>
        <b-form-group
          label="Begin at:"
          label-for="input-3"
        >
          <vue-timepicker
            v-model="startTimeValue"
            :minute-interval="minInterval"
          />
        </b-form-group>
      </b-col>
      <b-col>
        <b-form-group
          label="End at:"
          label-for="input-4"
        >
          <vue-timepicker
            v-model="endTimeValue"
            :minute-interval="minInterval"
          />
        </b-form-group>
      </b-col>
    </b-row>

    <b-form-group
      label="Add a description:"
      label-for="input-5"
    >
      <b-form-textarea
        id="input-5"
        v-model="description"
        placeholder="Enter something..."
        rows="3"
        max-rows="6"
      />
    </b-form-group>

    <b-button
      type="submit"
      variant="primary"
    >
      Submit
    </b-button>
  </b-form>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import { uuid } from 'vue-uuid'

import Datepicker from 'vuejs-datepicker'
import VueTimepicker from 'vue2-timepicker'

export default {
  components: {
    Datepicker,
    VueTimepicker
  },
  data() {
    return {
      minInterval: 10
    }
  },
  computed: {
    ...mapState('event', {
      eventId: state => state.id
    }),
    ...mapState('events', {
      items: state => state.items
    }),
    ...mapGetters('users', {
      currentUser: 'getSelected'
    }),
    title: {
      set(val) {
        this.$store.dispatch('event/setTitle', val)
      },
      get() {
        return this.$store.state.event.title
      }
    },
    startDate: {
      set(val) {
        const oldStart = this.$moment(this.$store.state.event.startDate)
        const newStart = this.$moment(val)
        const diff = newStart.diff(oldStart, 'days')
        const endDate = this.$moment(this.$store.state.event.endDate).add(diff, 'd')

        this.$store.dispatch('event/setStartDate', val)
        this.$store.dispatch('event/setEndDate', endDate)
      },
      get() {
        return this.$store.state.event.startDate
      }
    },
    endDate: {
      set(val) {
        this.$store.dispatch('event/setEndDate', val)
      },
      get() {
        return this.$store.state.event.endDate
      }
    },
    description: {
      set(val) {
        this.$store.dispatch('event/setDescription', val)
      },
      get() {
        return this.$store.state.event.description
      }
    },
    startTimeValue: {
      set(val) {
        this.$store.dispatch(
          'event/setStartDate',
          this.$moment(this.startDate).hours(val.HH).minutes(val.mm).toISOString(true)
        )
      },
      get() {
        const date = this.$moment(this.startDate)

        return {
          HH: date.format('HH'),
          mm: date.format('mm')
        }
      }
    },
    endTimeValue: {
      set(val) {
        this.$store.dispatch(
          'event/setEndDate',
          this.$moment(this.startDate).hours(val.HH).minutes(val.mm).toISOString(true)
        )
      },
      get() {
        const date = this.$moment(this.endDate)

        return {
          HH: date.format('HH'),
          mm: date.format('mm')
        }
      }
    }
  },
  methods: {
    onSubmit(evt) {
      const newEvent = Object.assign({}, this.$store.state.event)

      if (this.eventId) {
        this.$store.dispatch('events/setItem', newEvent)
      } else {
        this.$store.dispatch('events/addItem', {
          id: uuid.v4(),
          title: this.title,
          startDate: this.startDate,
          endDate: this.endDate,
          description: this.description,
          userId: this.currentUser.id
        })
      }

      this.$bvModal.hide('modal-form')
    }
  }
}
</script>
