<template>
  <b-container>
    <b-row>
      <b-col>
        <h4>{{ event.title }}</h4>
      </b-col>
    </b-row>

    <b-row class="mb-3">
      <b-col>
        <p class="m-0">
          Begin at:
        </p>
        {{ formatDate(event.startDate) }}
      </b-col>
      <b-col>
        <p class="m-0">
          End at:
        </p>
        {{ formatDate(event.endDate) }}
      </b-col>
    </b-row>

    <b-row class="mb-3">
      <b-col>
        <p class="m-0">
          Description:
        </p>
        {{ event.description }}
      </b-col>
    </b-row>

    <b-row>
      <b-col>
        <div class="d-flex justify-content-between">
          <button
            class="btn btn-danger"
            @click="handleRemoveClick"
          >
            Remove
          </button>

          <button
            class="btn btn-info"
            @click="handleEditClick"
          >
            Edit
          </button>
        </div>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  props: {
    event: {
      type: Object,
      default: () => ({
        id: '',
        title: '',
        startDate: '',
        endDate: '',
        description: ''
      })
    }
  },
  methods: {
    handleEditClick() {
      this.$emit('handle-edit-click', true)
    },
    handleRemoveClick() {
      this.$emit('handle-remove-click', this.event.id)
    },
    formatDate(newDate) {
      return this.$moment(newDate).format('MMMM Do YYYY, h:mm')
    }
  }
}
</script>
