<template>
  <header>
    <b-container fluid>
      <b-row>
        <b-col>
          <b-navbar
            toggleable="lg"
            class="header__navbar"
          >
            <b-navbar-brand href="#">
              <strong>Technician Calendar</strong>
            </b-navbar-brand>

            <b-navbar-toggle target="nav-collapse" />

            <b-collapse id="nav-collapse" is-nav>
              <b-navbar-nav class="ml-auto">
                <b-nav-form>
                  <label>User selected: </label>
                  <b-form-select
                    v-model="currentUserId"
                    class="ml-1"
                  >
                    <option
                      v-for="user in users"
                      :key="user.id"
                      :value="user.id"
                    >
                      {{ getName(user.attributes) }}
                    </option>
                  </b-form-select>
                </b-nav-form>
              </b-navbar-nav>
            </b-collapse>
          </b-navbar>
        </b-col>
      </b-row>
    </b-container>
  </header>
</template>

<script>
import { mapState, mapGetters } from 'vuex'

export default {
  computed: {
    ...mapState('users', {
      users: state => state.items
    }),
    ...mapGetters('users', {
      currentUser: 'getSelected'
    }),
    currentUserId: {
      set(val) {
        this.$store.dispatch('users/setSelected', val)
      },
      get() {
        return this.currentUser.id
      }
    }
  },
  methods: {
    getName(user) {
      return `${user.firstName} ${user.lastName[0]}.`
    }
  }
}
</script>

<style lang="sass">
.header__navbar
  padding: 15px 0
</style>
