<template>
  <div class="sidebar">
    <datepicker
      :value="Date.now()"
      :inline="true"
      :bootstrap-styling="true"
      @selected="handleDateSelected"
    />
  </div>
</template>

<script>
import Datepicker from 'vuejs-datepicker'

export default {
  components: {
    Datepicker
  },
  methods: {
    handleDateSelected(newDate) {
      this.$emit('handle-date-selected', newDate)
    }
  }
}
</script>
