<template>
  <div class="application-wrapper">
    <the-header />

    <b-container fluid>
      <div class="d-flex align-items-stretch">
        <the-sidebar
          class="mr-3"
          @handle-date-selected="setDateSelected"
        />
        <base-calendar
          :events="getEvents"
          :current-date="dateSelected"
          @handle-date-click="dateClick"
          @handle-event-click="eventClick"
          @handle-event-drop="eventDrop"
          @handle-event-resize="eventResize"
        />

        <base-modal id="modal-form">
          <event-form v-if="isEdited" />
          <event-show
            v-else
            :event="event"
            @handle-edit-click="setEdited"
            @handle-remove-click="removeEvent"
          />
        </base-modal>
      </div>
    </b-container>
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex'

import TheHeader from '@/components/TheHeader'
import TheSidebar from '@/components/TheSidebar'

import BaseCalendar from '@/components/BaseCalendar'
import BaseModal from '@/components/BaseModal'

import EventForm from '@/components/EventForm'
import EventShow from '@/components/EventShow'

export default {
  components: {
    TheHeader,
    TheSidebar,
    BaseCalendar,
    BaseModal,
    EventForm,
    EventShow
  },
  data() {
    return {
      dateSelected: new Date(),
      isEdited: false
    }
  },
  computed: {
    ...mapState('events', {
      events: state => state.items
    }),
    ...mapState('event', {
      event: state => state
    }),
    ...mapGetters('events', {
      getEventById: 'getItemById'
    }),
    ...mapGetters('users', {
      currentUser: 'getSelected'
    }),
    getEvents() {
      return this.events
        .filter(event => Boolean(event.userId === this.currentUser.id))
        .map((event) => {
          return {
            id: event.id,
            title: event.title,
            start: event.startDate,
            end: event.endDate,
            allDay: false
          }
        })
    }
  },
  async fetch({ app, store }) {
    const users = await app.$axios.get('/users.json').then(res => res.data.data)
    const events = await app.$axios.get('/events.json').then(res => res.data.data)

    store.dispatch('users/setItems', users)
    store.dispatch('events/setItems', events)

    if (users.length) store.dispatch('users/setSelected', users[0].id)
  },
  methods: {
    dateClick(arg) {
      const startDate = this.$moment(arg.dateStr).toISOString(true)
      const endDate = this.$moment(arg.dateStr).add('30', 'minutes').toISOString(true)

      this.selectedEventReset()
      this.isEdited = true
      this.$store.dispatch('event/setStartDate', startDate)
      this.$store.dispatch('event/setEndDate', endDate)
      this.$bvModal.show('modal-form')
    },
    eventClick(arg) {
      const event = this.events.find(x => x.id === arg.event.id)

      this.selectedEventReset()
      this.isEdited = false
      this.$store.dispatch('event/setEvent', event)
      this.$bvModal.show('modal-form')
    },
    eventDrop(arg) {
      const oldEvent = Object.assign({}, this.getEventById(arg.event.id))
      const newEvent = Object.assign(oldEvent, {
        startDate: this.$moment(arg.event.start).toISOString(true),
        endDate: this.$moment(arg.event.end).toISOString(true)
      })

      this.updateEvent(newEvent)
    },
    eventResize(arg) {
      const oldEvent = Object.assign({}, this.getEventById(arg.event.id))
      const newEvent = Object.assign(oldEvent, {
        startDate: this.$moment(arg.event.start).toISOString(true),
        endDate: this.$moment(arg.event.end).toISOString(true)
      })

      this.updateEvent(newEvent)
    },
    selectedEventReset() {
      this.$store.dispatch('event/reset')
    },
    setDateSelected(newDate) {
      this.dateSelected = new Date(newDate)
    },
    setEdited(val) {
      this.isEdited = val
    },
    updateEvent(newEvent) {
      this.$store.dispatch('events/setItem', newEvent)
    },
    removeEvent(id) {
      if (confirm('Are you sure to destroy this event?')) {
        this.$store.dispatch('events/removeItem', id)
        this.$bvModal.hide('modal-form')
      }
    }
  }
}
</script>

<style lang="sass">
.application-wrapper
  max-width: 100%
  min-height: 100vh
  display: flex
  flex: 1 1 auto
  flex-direction: column
  position: relative
</style>
